<div class="card m-5">
    <img src="assets/Mobile Phone.jpg" class="card-img-top" alt="Not available">
    <div class="card-body">
      <div class="card-img-overlay wishlist-icon">
        <img src="assets/wishlist.png" style="height: 35px;" alt="No icon">
      </div>
        
      <h5 class="card-title text-center">{{ title }}</h5>
      <p class="card-text">{{ description }}</p>
      <h6 class="text-center">{{ price }}</h6>
      <h6 class="text-center">{{ ratings }}</h6>
      
      <div class="add-cart-button text-center">
        <button href="#" class="btn btn-primary rounded-pill">Add to Cart</button>
       
      </div>
      
    </div>
  </div>
