.card {
    width: 14rem;  
}
.image {
    height: 117px;
    width: 102px;
    margin: 23px 55px;

}
.wishlist-icon{
    top: -8px;
   left: 168px;
}
.price{
    margin-left: 16px;
}
.checked {
    color: rgb(213, 213, 40);
}


